@import url(../../var.css);

nav {
    margin: 30px 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 20px 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-heading p {
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--font-color-red);
}

.navbar-baricon-bar {
    display: none;
}

.navbar-links-list {
    display: flex;
    gap: 35px;
}

.navbar-links-list li {
    cursor: pointer;
    position: relative;
}

.navbar-links-list li a {
    color: var(--font-color-red);
    font-weight: bolder;
}

.navbar-links-list li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--font-color-red);
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}


.navbar-links-list li a:hover::after {
    transform: scaleX(1);
}

.navbar-links-list li Link:hover {
    color: var(--font-color-red);
    transition: 0.3s ease-in-out;
}


/* Tablets */
@media (width <=800px) {

    nav {
        margin: 30px 15px;
        padding: 0;
    }

    nav {
        font-size: 0.9rem;
    }

    .navbar-baricon-bar {
        display: inline;
    }

    .navbar-baricon {
        position: relative;
    }

    .navbar-links-list {
        display: none;
        position: absolute;
        right: 50%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 8px 15px;
        z-index: 1;
    }

    .navbar-links-list li a:hover {
        color: white;
    }
}

.navbar-baricon:hover .navbar-links-list,
.navbar-links-list:hover {
    display: flex;
}