.projects-container {
    margin: 0 100px;
    margin-bottom: 100px;
}

.projects-container h2 {
    margin-bottom: 15px;
    color: var(--font-color-red);
}

.project-content p {
    color: gray;
}

@media (max-width: 800px) {
    .projects-container {
        margin: 0 40px;
        margin-bottom: 40px;
    }

    .projects-container h2 {
        font-size: 1.2rem;
    }

    .project-content p {
        font-size: 0.9rem;
    }
}